<div class="container">
  <!-- Display length of String -->
  <h4>Exercise 1:</h4>
  <div class="row">
    <div class="col-md-5">
      <input type="text" class="form-control" placeholder="Enter String" [(ngModel)]="txtString">
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="btnEnable= !btnEnable">Enable</button>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" [disabled]="!btnEnable" (click)="onTxtStringLength()">Diplay String
        Length</button>
    </div>
    <div class="col-md-3">
      <p> Length of input string: {{txtStringLength}}</p>
    </div>
  </div>
  <!-- Display name and age -->
  <h4>Exercise 2:</h4>
  <div class="row">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="enter your name" [(ngModel)]="person.txtName">
    </div>
    <div class="col-md-6">
      <input type="number" min="0" class="form-control" placeholder="enter your age" [(ngModel)]="person.txtAge">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" [hidden]="btnHide">
      <button class="btn btn-primary"  (click)="onTxtDisplay()">Display</button>
    </div>
    <div class="col-md-4">
      <p *ngFor="let display of txtDisplay let i of txtDisplay"><b>{{display}}</b></p>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary" (click)="!btnHide=btnEnable">Hide</button>
    </div>
  </div>
  <!-- Display name and age  -->
  <h4>Exercise 3:</h4>
  <div class="row">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="enter your name" [(ngModel)]="txtStringName">
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="enter your age" [(ngModel)]="txtStringAge">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" (click)="onArrayDisplay()">Click</button>
    </div>
    <div class="col-md-12">
      <p *ngFor="let info of array; let i of array"><b>{{info}}</b></p>
    </div>
  </div>
  <!-- Display odd or even Number -->
  <h4>Exercise 4:</h4>
  <div class="row">
    <div class="col-md-8">
      <input type="text" class="form-control" placeholder="Enter Number" [(ngModel)]="txtNumber">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- <p [ngStyle]="txtNumber%2===0 ? {color:'green'} : {color:'red'}">{{txtNumber}}</p> -->
      <p [ngClass]="txtNumber%2===0 ? 'even-text' : 'odd-text' ">{{txtNumber}}</p> 

    </div> 
 
  </div>
  <!-- Display Custom Directive -->
  <h4>Exercise 5:</h4>
  <div class="row">
    <div class="col-md-12">
     <p appHighlight> this is <span>Custom directive.</span><b>This is bold.</b><span>Custom directive.</span><small>This is small.</small><span>Custom directive.</span></p>
    </div>
  </div>
    
</div>